html {
    scroll-behavior: smooth;
    background-color: #000;
}

body {
    color: #fff;
    background-color: #000;
}

/* transparent black navbar */
.navbar {
    background-color: rgba(37, 39, 43, 0.9);
    position: fixed;
    width: 80%;
    margin: 10%;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    z-index: 1;
    padding: 10px;
}



button {
    border-radius: 30px;
    border: none;
    background-color: #5865F2 ;
    padding: 10px;
    color: #fff;
    opacity: 1;
}

button:hover {
    background-color: #5865F2;
    
    box-shadow:0px 0px 0px 2px #fff inset;
    color: #fff;
}

.navbar-nav li a {
    background-color: transparent;
    border-radius: 30px;
    padding: 10px;
    color: #fff;
}

.navbar-nav li a:hover {
    background-color: #161618;
}

.navbar-nav li a:focus {
    background-color: #161618;
}

/*
.nav-item {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border-radius: 30px;
    color: #fff; 
   
}
.nav-link {
    background-color: transparent;
    color: #fff; 
    padding: 1px;
}

.nav-link:hover {
    background-color: transparent;
    color: #fff;
}

.nav-item:hover {
    background-color: #161618;
    color: #fff;
}
*/


.navbar-collapse {
    padding: 0px;
}
