html {
    scroll-behavior: smooth;
    background-color: #000;
    
}

body {
    color: #fff;
    background-color: #000;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}


canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#home {
    background: #000;
    background: linear-gradient(45deg, #000 50%, #03093a 100%);
}


/* transparent black navbar */
.navbar {
    background-color: rgba(26, 26, 27, 0.9);
    position: fixed;
    width: 80%;
    margin: 10%;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    z-index: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
}

.box {
    position: absolute;  
    z-index: 0.5; 
    background-color: transparent;
    width: 60%;
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-family: Anaheim, sans-serif;
    color: #fff !important;
}
h1 {
    text-align: center;
    font-size: 40px;
}



/*
#gradient {
    font-size: 64px;
    background: rgb(188,0,254);
    background: linear-gradient(90deg, rgba(188,0,254,1) 0%, rgba(5,209,196,1) 100%); 
    

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: smooth 1s linear infinite;
}

@keyframes smooth {
    to {
        background-position: 200% center;
    }
}
*/


#gradient {
    font-size: 64px;
    background: rgb(188,0,254);
    background: linear-gradient(90deg, rgba(188,0,254,1) 0%, rgba(5,209,196,1) 100%); 
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s linear infinite;

} 

#gradient2 {
    font-size: 64px;
    background: rgb(174,238,214);
    background: linear-gradient(90deg, rgba(174,238,214,1) 0%, rgba(128,186,241,1) 100%); 
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s linear infinite;
}

/* font size responsive*/


#gradient3 {
    font-size: 32px;
    font-size: 4rem;
    background: rgba(134,220,230,1);
    background: linear-gradient(90deg, rgba(134,220,230,1) 0%, rgb(137, 83, 189) 100%); 
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s linear infinite;
}
@keyframes shine {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    } 
    100% {
    background-position: 0% 50%;
    }
}  

p {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    align-self: center;
}


button {
    border-radius: 30px;
    border: none;
    background-color: #248AFF;
    padding: 10px;
    color: #fff;
    opacity: 1;
}

button:hover {
    background-color: #217CE5;
    color: #fff;
}


.navbar-nav li a {
    background-color: transparent;
    border-radius: 30px;
    padding: 10px;
    color: #fff;
}

.navbar-nav li a:hover {
    background-color: #36363f;
}

.navbar-nav li a:focus {
    background-color: #36363f;
}

/*
.nav-item {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border-radius: 30px;
    color: #fff; 
   
}
.nav-link {
    background-color: transparent;
    color: #fff; 
    padding: 1px;
}

.nav-link:hover {
    background-color: transparent;
    color: #fff;
}

.nav-item:hover {
    background-color: #161618;
    color: #fff;
}
*/


.navbar-collapse {
    padding: 0px;
}







footer {
    padding-top: 40px;
    border-top: 1px solid rgba(26, 26, 27, 0.9);
}


.subtitle a{
    color: #5f5f5f;
    text-decoration: none;
    padding-bottom: 10px;
}

.subtitle a:hover{
    text-decoration: none;
}


.title {
    padding-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.banner {
    text-align: center; 
    padding-top: 40px;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .row {
        display: flex;
        justify-content: space-between;
    }
    button {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}



.column {
    list-style: none;
    text-align: left;
}


.centered {
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%,0);
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}


.row {
    list-style: none;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}


.row li {
    margin: 10px;
    background-color: #000;
    border:rgba(26, 26, 27, 0.9) solid 1px;
    padding: 10px;
    border-radius: 10px;
}


.row li:hover {
    background-color: rgba(26, 26, 27, 0.9); 
}
